/* TEMPLATE STYLESHEET */


/* These are some suggested groupings for your stylesheet... */

/* Default styling styling for the body.*/

body {
    font-family: 'Roboto',
    'Source Sans Pro',
    'Roboto Condensed',
    sans-serif;
    /* update with Google font, web safe font and generic fallback */
    font-size: 100%; /* the default browser font size is 16px */
    line-height: 1.4; /* update to suit your type choices */
    color: #000;  /* base text colour - update to suit your design */
background-color: white;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-blend-mode: multiply;
text-align: center;
align-items: center;
align-content: center;
padding:0;
margin:0;
  }
/* Improves default font styles for forms  */

input,
textarea {
    font-family: 'Roboto', 'Source Sans Pro','Roboto Condensed', sans-serif; /* update with Google font, web safe font and generic fallback */
}

/* box sizing */


/* flexible content images code */
.img {
  width:100%;
  height:auto;
    border: 3px solid #325967;
}

/* element styling (e.g. standard p, h1, h2, a, etc) */
h1 {
  font-size: 2rem;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  text-align: center;
}

p {
  font-size: 1rem;
    font-family: 'Roboto';
}

/* navigation (using flexbox) */

.topnav {
  overflow: hidden;
 max-width: 600px;
 margin: 0 auto;
}

.topnav a {
  float: left;
  display: block;
  color: #325967;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #325967;
  color: white;
}

.topnav a.active {
  background-color: #325967;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
    height: 17px;
  }
  .topnav a.icon:hover {
    background-color: white;
  }

   body {
     overflow-x: hidden;
     /* Hide horizontal scrollbar */
   }

  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  div#myTopnav.topnav {
    margin: 0px;
    width: 100%;
  }
} 

#myTopnav {
  transition: top 0.3s;
  background-color: white;
  max-width: 600px;
}
html {
  scroll-behavior: smooth;
}
/* page header */
.page-header {
    background-color:grey;
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    background-image: url(../images/keyboard.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
}

.display-flex {
  height: 90vh;
  min-height: 40vh;
    align-items: center;
    justify-content: center;
}

.header-content {
  max-width: 500px;
  font-size: 1.35rem;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.header-content h1 {
  font-size: 3rem;
  text-shadow: 2px 2px 0 #000;
  margin-bottom: .5rem;
  line-height: 1;
}

.header-content p {
  font-size: 1.5rem;
}


.header-content a {
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
  padding: 10px 20px;
  background: white;
  color: #325967;
  border-radius: 0.2em;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
}

/* main layout */
.titlepadding {
  padding-top:1rem;
  margin-bottom: 1.5rem;
}

.padding {
  margin-bottom:1rem;
}
/* styling for the section content */




/* background colours for sections */
.about-me {
  background-color: white;
  padding-bottom:20px;
   padding-right: 20%;
   padding-left: 20%;

}

.about-me p {
  text-align: left;
}

.work-experience {
  background-color: #325967;
  color: white;
  padding-right: 20%;
  padding-left: 20%;

}

.work-experience p {
  text-align: left;
}

.image-gallery {
  background-color: white;
  padding:0 3rem;
}

.image-gallery p {
  text-align: center;
}

@media screen and (min-width: 750px) {
  .contact-me {
    background-color: #325967;
    color: white;
    text-align: left;
    padding-right: 20%;
    padding-left: 20%;
  }

   .drop-shadow {
     padding: 0px;
     margin-left: auto;
     margin-right: auto;
     max-width: 70%;
     height: 100%;
     box-shadow: 0px 20px 30px 20px #9b9b9b;
   }

   .image-gallery .an-image+.an-image {
     margin-left: 20px;
   }

   .image-gallery .image-container {
     display: flex;
   }

   .image-gallery .an-image {
     flex: 33%;
     padding: 20px;
   }
}
@media screen and (max-width: 750px) {
.contact-me {
  background-color: #325967;
  color: white;
  text-align: center;
  padding-right: 1rem;
  padding-left: 1rem;
}
.about-me {
  background-color: white;
  padding-bottom: 20px;
  padding-right: 1rem;
  padding-left: 1rem;
}
.work-experience {
  background-color: #325967;
  color: white;
  padding-right: 1rem;
  padding-left: 1rem;
}
}
.contact-me h2 {
  text-align: center;
}

/* image gallery media queries and size overrides */

.image-gallery .container-content {
   max-width: 1200px;
   margin: 0 auto;
} 

.image-gallery h2 {
  text-align: center;
}

.image-gallery .an-image {
  margin: 0;

}

.image-gallery .image-caption {
  padding: 8px 0 50px 0;
}


/* form styling */

form label {
  display: block;
  /* instead of inline */
  padding-bottom: 0.2em;
  padding-top: 1em;
}

form input,
form textarea {
  padding: 0.4em 0.3em;
    font-size: 1.5em;
      font-family: arial,
      helvetica,
      sans-serif;
        border: 1px solid #bbb;
        border-radius: 0.2em;
          min-width: 90%;
          max-width: 90%;
          }

          form input[type="submit"] {
            min-width: 0;
              background-color: #1c4242;
              border: 0;
              border-radius: 0.2em;
              padding: 13px 30px;
              margin-top: 10px;
              /* top and bottom, left and right */
              font-size: 1em;
              text-transform: uppercase;
              font-weight: bold;
              color: white;
                transition: background-color 0.2s ease;
                }
                form input[type="submit"]:hover {
                  background-color: white;
                  color: #325967;
                }
/* footer */
/* make it urself :) */
.footer-padding {
  padding-bottom:1rem;
}

.page-footer {
text-align: center;
}

.footer {
  position: relative;
  text-align: center;
}

.footer-break-design {
  border: solid #325967 1px;
  border-bottom: none;
  width: 100%;
  margin: 10px auto;
}

.contact-icons {
  margin-top: -1rem;
  height: 2rem;
  width: 2rem;
  margin-left:1rem;
  margin-right:1rem;
}

div.footer-content p {
  text-align: center;
}

/* create CSS that will be used by the HTML inserted by the JavaScript */


form input[type="submit"].js-disable-button {
  color: grey;
  padding-left: 24px;
  background: white url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/923354/Rolling-1s-18px.gif) left center no-repeat;
}

